* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
}

.container {
    color: #3e6189;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

#timer {
    border-radius: 15px;
    border: 2px solid #3e6189;
    margin-top: 0.5em;
}

img#logo {
    width: 15em;
    margin-bottom: 2em;
}

h2, h3, h4 {
    font-weight: normal;
    margin-top: 0.5em;
}

a {
    font-size: 2em;
    text-decoration: none;
    margin-top: 0.5em;
    background-color: #f36f22;
    border-radius: 15px;
    padding: 0.4em;
    color: #fff;
}

a:hover {
    color: #3e6189;
}

ul#timer li {
    display: inline-block;
    font-size: 1em;
    list-style-type: none;
    padding: 0.5em;
    text-transform: uppercase;
}

ul#timer li span {
    display: block;
    font-size: 3rem;
}

#instructions {
    margin-top: 2em;
}

ul#steps {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 2em 0 0 0;
    padding: 0;
}

ul#steps li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    width: 16em;
    text-align: center;
}

ul#steps li img {
    width: 5em;
    display: block;
    margin: 0 auto 1em;
}