{% capture formulario_entrar %}
<form id="registro_web" class="py-4">
    <div class="input-group">
        <input type="text" class="form-control" name="nombre" placeholder="Nombre" style="border-radius: 5px 0 0 0 !important;">
        <input type="text" name="apellido" style="border-radius: 0 5px 0 0 !important;" class="form-control" placeholder="Apellido">
    </div>
    <input type="email" placeholder="Correo electrónico" name="email" class="required email" required="">
    <button id="enviar_info">Entrar a la reunión digital</button>
</form>
{% endcapture %}✔