body {
    font-family: Arial;
}

.btn-primary {
    background-color: #f36f21;
    border-color: #f36f21;
}

.container {
    color: #3e6189;
}

#timer {
    border-radius: 15px;
    border: 2px solid #3e6189;
    margin-top: 0.5em;
}

img#logo {
    width: 15em;
    margin-bottom: 2em;
}

ul#timer li {
    display: inline-block;
    font-size: 1em;
    list-style-type: none;
    padding: 0 0.5em;
    text-transform: uppercase;
}

ul#timer li span {
    display: block;
    font-size: 3rem;
    line-height: 3rem;
}

input {
    font-size: 0.875em !important;
    width: 100%;
    height: 50px !important;
    padding: 0px 15px 0px 15px !important;
    background: transparent;
    outline: none;
    color: #000 !important;
    border: solid 1px #000 !important;
    border-bottom: none !important;
    border-radius: 0 !important;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#enviar_info {
    padding: 0;
    margin: 0;
    font-size: 0.875em;
    color: #fff;
    outline: none;
    cursor: pointer;
    border: 1px solid #000;
    background-color: #f36f21;
    border-radius: 0 0 5px 5px;
    width: 100%;
    height: 50px;
}

.error {
    -webkit-animation: blink 1s infinite;  /* Safari 4+ */
    -moz-animation: blink 1s infinite;  /* Fx 5+ */
    -o-animation: blink 1s infinite;  /* Opera 12+ */
    animation: blink 1s infinite;  /* IE 10+, Fx 29+ */
}

@-webkit-keyframes blink {
    0%, 49% {
        background-color: #f36f21;
    }
    50%, 100% {
        background-color: #e50000;
    }
}

#instrucciones_jitsi {
    display: none;
}